*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes bouncePotrait{
    0%{
        border-radius: 45% 55% 70% 30% / 30% 56% 44% 70% ;
    }
    100%{
        transform: translateY(3%);
        border-radius: 70% 30% 33% 67% / 51% 42% 58% 49% ;
    }
}
@keyframes bounce{
    0%{
        
    }
    100%{
        transform: translateY(3%);
    }
}
@keyframes bounceQuote{
    0%{
        
    }
    100%{
        transform: translateY(3%);
        border-radius: 70% 30% 33% 67% / 51% 42% 58% 49% ;
    }
}
.nav li a{
    transition-duration: .2s;
    position: relative;
}
.nav li a:hover{
    color: white;
}
.nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease-in-out;
}
.nav li a:hover::after {
    width: 100%;
}
.icons{
    font-size: clamp(2rem, 6vw, 3rem);
    
}
.icons a{
    color: white;
    transition-duration: .3s;
}
.icons #whatsapp:hover{
    color: rgba(79, 255, 79, 0.763);
}
.icons #linkedin:hover{
    color: rgba(0, 102, 255, 0.751);
}
.icons #github:hover{
    color: rgba(255, 255, 255, 0.479);
}
.icons #mail:hover{
    color: rgb(255, 61, 61);
}
.potrait{
    transition-duration: .4s;
    border-radius: 45% 55% 70% 30% / 30% 56% 44% 70% ;
    border: 3px solid white;
    animation: 3s bouncePotrait ease 0s infinite alternate;
}
.potrait:hover{
    scale: 102%;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.45));
    border-radius: 70% 30% 33% 67% / 51% 42% 58% 49% ;
}
.about-me-text{
    font-size: clamp(15px, 2vw, 25px);
}
.card-subtitle{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.CVButton{
    transition-duration: .3s;
}
.CVButton:hover{
    color: white !important;
    background-color: hsl(190, 90%, 45%, 0.8);
}
.quoteImg{
    border-radius: 26% 74% 16% 84% / 74% 30% 70% 26% ;
    transition-duration: .3s;
    transform: rotate(5deg);
    animation: 5s bounceQuote ease 0s infinite alternate;
    width: clamp(200px,100%,400px);
}
.quoteImg:hover{
    scale: 102%;
}
.project-img{
    width: 100%;
    transition-duration: .3s;
    border: 2px solid rgba(255, 255, 255, 0.484);
}
.project-img:hover{
    opacity: 0.8;
    scale: 110%;
}
.steamUI{
    width: 100%;
}
.project-row .d-flex .project-card{
    background-color: transparent;
    color:#fff;
    border: 1px solid hsl(0, 0%, 100%, 0.4);
    backdrop-filter: blur(3px);
}

.logos img{
    width: clamp(40px, 20%, 70px);
    transition-duration: .3s;
}
.logos img:hover{
    scale: 110%;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.756));
}
.sendBtn {
    position: relative;
    background-color: transparent;
    /* transform: translate(-50%, -50%); */
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid #ffffff;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    transition-duration: .3s;
  }
  .sendBtn::before {
    content: "";
    border-radius: 18px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: hsl(190, 90%, 45%, 0.8);
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
  }
  .sendBtn::after {
    content: "";
    display: inline-block;
    background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    
  }
  .sendBtn:hover {
    padding: 0.5em 3.5em 0.5em 1em;
  }
  .sendBtn:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .sendBtn:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }